@charset "utf-8";
/* CSS Document */
body
{
	margin:0 auto;
	font-family: 'Source Sans Pro', sans-serif;
	color: #333;
	font-size: 13px;
	text-align:left;
	
}
p, h1, h2, h3, h4 {
	margin:0; 
	padding:0;}
img {
	border:none;}
h1 {
		color:#000;
		font-weight:800;
		letter-spacing:5px;
		font-size:25px;
		margin-bottom:25px;
	}
#wrapper {
	width:100%;
		margin: 0 auto; }

/************************** BOTONES **************************/
#btn a{
	background-color:#000;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	font-size: 13px;
 	 color: #fff;
	 width:90px;
	text-decoration: none;
	padding:5px 10px;
	display:block;
	outline:none;
	vertical-align:middle;
	text-align:center;
	
}
#btn2 {
	float:right;
	margin-top:25px;
	text-align:right;
	}
#btn2 a{
	background-color:#CCC;
	font-family: 'Open Sans', sans-serif;
	font-weight:600;
	font-size: 13px;
 	 color: #000;
	 width:150px;
	text-decoration: none;
	padding:5px 10px;
	display:block;
	outline:none;
	vertical-align:middle;
	text-align:center;
	
}
#btn3 a{
	background-color:#9EE700;
	font-family: 'Open Sans', sans-serif;
	font-weight:800;
	font-size: 13px;
 	 color: #FFF;
	text-decoration: none;
	padding:5px 10px;
	display:block;
	outline:none;
	vertical-align:middle;
	text-align:center;
	
}
#btn {
	float:right;
	margin-top:25px;
	text-align:right;
	}

#content {
	width:1000px;
	margin:0 auto;
}
#separacion {
	border-bottom:1px solid #CCC;
	padding:15px 0;
}
/************************** PLANTILLA **************************/
#tienda2 {
	text-align:right;
	width:1000px;
	margin:0 auto;
}
#tienda {
	padding:10px 0;
	text-align:center;
	font-family: 'Source Sans Pro', sans-serif;
	background-color:#EEE;
}

	#tienda2 a {
		padding:0 10px;
		display:inline-block;
		text-decoration:none;
		color:#333;
		font-size:16px;
		font-weight:300;
	}
	#tienda2 img {
		vertical-align:middle;
	}
		#cuenta {
			font-weight:700;
			font-size:14px;
			display:inline-block;
			width:50px;
			text-align:left;
		}

#cabeza {
	padding:25px 0; 
	width:1000px;
	margin:0 auto;
	text-align:left;
}

	#logo {
		vertical-align:middle;
		width:112px;
		display:inline-block;
	}
	
	#iconos {
		margin-left:70px;
		display:inline-block;
		vertical-align:bottom;
	}
		#icono {
			width:70px;
			vertical-align:middle;
			display:inline-block;
			text-align:center;
		}
		
			#icono p {
				margin-top:35px;
				font-size:12px;
				font-weight:400;
			}
			#icono p img {
				margin-right:3px;
				vertical-align:middle;
			}
		
		#flecha {
			width:34px;
			margin:0 25px;
			display:inline-block;
		}
		
	#buscador {
		text-align:right;
		margin-left:60px;
		width:360px;
		vertical-align:bottom;
		display:inline-block;
	}
		.btn_buscar {
			border:1px solid #CCC;
			background-image:url(../imagenes/plantilla/buscador.png);
			background-repeat:no-repeat;
			outline:none;
			padding-left:10px;
			height:39px;
			width:340px;
		}
		
		#buscador h2{
			font-weight:800;
			color:#000;
			font-size:27px;
		}
		#buscador p {
			padding-bottom:15px;
			font-weight:300;
			color:#000;
			font-size:17px;
		}
		
#menu {
	border-bottom:1px solid #999;
	border-top:1px solid #999;
	padding:5px;
}

	#menu_btn {
		padding:0;
		width:100%;
		margin:0 auto;
	} 
		#menu_btn li {
			display:inline-block;
			padding:0 31px;
			font-size:15px;
			font-weight:600;
			border-left:1px solid #CCC;
		}
		
		#menu_btn li a {
			letter-spacing:4px;
			color:#333;
			text-decoration:none;
		}
		
		#menu_btn li a:hover {
			color:#99cc00;
		}
/************************** PIE **************************/
#pie {
	margin-top:25px;
	background-color:#EEE;
	padding:25px 0;
}

#categorias {
	width:260px;
	display:inline-block;
	vertical-align:top;
}

#zoom {
	text-align:center;
	margin-bottom:30px;
}
#garantia4 {
	display:none;
}
	#categorias h3 {
		font-family: 'Open Sans', sans-serif;
		font-size:18px;
		font-weight:400;
		margin-bottom:25px;
	} 
	
		#categorias ul {
			margin:0;
			padding:0;
			list-style:none;
		}
		#pie_btn li {
			margin-bottom:10px;
		}
		#pie_btn li a {
			text-decoration:none;
			font-size:12px;
			color:#333;
		}

#categorias2 {
	width:220px;
	display:inline-block;
	vertical-align:top;
}

	#categorias2 h3 {
			font-family: 'Open Sans', sans-serif;
			font-size:18px;
			font-weight:400;
			margin-bottom:25px;
		} 
		
			#categorias2 ul {
				margin:0;
				padding:0;
				list-style:none;
			}

#categorias3 {
	width:250px;
	display:inline-block;
	vertical-align:top;
}
#redes {
	margin-left:20px;
}
#redes img {
	margin-right:5px;
	vertical-align:middle;
}
		.siguenos {
			vertical-align:middle;
			font-family: 'Open Sans', sans-serif;
					font-size:18px;
					font-weight:400;
					margin-right:5px;
		}
	#categorias3 h3 {
			font-family: 'Open Sans', sans-serif;
			font-size:18px;
			font-weight:400;
			margin-top:30px;
			margin-bottom:25px;
		} 
#datos {
	margin-top:15px;
	border-left:1px solid #999;
	padding-left:20px;
}
#datos p {
	font-size:12px;
	margin:20px 0;
}
#datos img {
	vertical-align:middle;
	margin-right:15px; 
	}

#promocion {
	border-top:1px solid #CCC;
	padding-top:15px;
	width:1000px;
	margin-top:25px;
	margin:0 auto;
}

#garantia {
	vertical-align:middle;
	display:inline-block;
	width:400px;
	padding-right:20px;
	border-right:2px solid #CCC;
}	
	
	#img_garantia {
		width:68px;
		vertical-align:middle;
		display:inline-block;
	}
	
	#text_garantia {
		width:300px;
		padding-left:15px;
		vertical-align:middle;
		display:inline-block;
	}
		#text_garantia h2 {
			font-size:23px;
			text-transform:uppercase;
			color:#000;
			font-weight:300;
		}
		#text_garantia p {
			font-weight:800;
			color:#000;
			text-transform:uppercase;
			font-size:23px;
		}

	#garantia2 p {
		vertical-align:middle;
		display:inline-block;
		width:230px;
		}
		#img_garantia2 {
			width:115px;
			vertical-align:middle;
			display:inline-block;
		}
		#text_garantia2 {
			width:205px;
			font-size:12px;
			display:inline-block;
		}
#garantia2 {
	font-size:17px;
	vertical-align:middle;
	display:inline-block;
	padding-left:12px;
	width:560px;
	font-weight:600;
	font-family: 'Open Sans', sans-serif;
}


#muebles  {
	margin-bottom:25px;
	text-align:center;
	margin-top:45px;
}
#muebles h3 {
	line-height:20px;
	margin-bottom:10px;
	font-size:48px;
	font-weight:300;
	letter-spacing:10px;
}

#muebles h3 img {
	vertical-align:top;
	margin-top:-15px;
}
#muebles p {
	font-size:27px;
	font-weight:300;
	margin-bottom:25px;
}
#muebles h2 {
	text-transform:uppercase;
	font-weight:300;
	font-size:23px;
}

#productos_index {
	margin-bottom:25px;
}
/************************** HOME **************************/
/************************** CATEGORIAS **************************/
#content_productos {
	margin-bottom:25px;
}
#bloq1 h3{
	margin-top:25px;
	margin-bottom:25px;
	font-size:16px;
	font-weight:400;
	}
	#bloq1 {
		margin-bottom:25px;
		margin-top:5px;
		}
#categorias {
	padding-left:1%;
	width:248px;
	vertical-align:top;
	display:inline-block;
}
#categorias44 {
	width:180px;
	vertical-align:top;
	display:inline-block;
}

	#categorias h2 {
		color:#000;
		font-weight:800;
		letter-spacing:5px;
		font-size:17px;
		margin-bottom:25px;
	}
	#categorias ul {
		margin-left:25px;
	}
	#categorias ul li {
			list-style-image:url(../imagenes/plantilla/flechas_gris.png);
			margin-bottom:15px;
		}
	#categorias ul li:hover {
		list-style-image:url(../imagenes/plantilla/flechas_verde.png);
	}
			#categorias ul li a {
				font-weight:300;
				font-size:14px;
				text-decoration:none;
				color:#333;
			}


	#categorias44 li {
		width:100%;
		text-align:left;
		list-style-image:url(../imagenes/plantilla/flechas_gris.png);
		margin-bottom:15px;
		}
	#categorias44 li:hover {
		list-style-image:url(../imagenes/plantilla/flechas_verde.png);
	}
			#categorias44 li a{
				list-style-image:url(../imagenes/plantilla/flechas_verde.png);
				font-weight:300;
				font-size:14px;
				text-decoration:none;
				color:#333;
			}
		
#productos_categorias {
	display:inline-block;
	width:815px;
	vertical-align:top;
}
/************************** CATEGORIAS **************************/
/************************** LO_NIEVO **************************/
#novedades_img {
	width:100%;
}

/************************** TIENDAS **************************/
#mapas {
	margin-bottom:40px;
}
#mapa {
	width:475px;
	display:inline-block;
	padding:0 20px 0 0;
	text-align:center;
	vertical-align:top;
	border-right:1px solid #CCC;
}

#mapa2 {
	vertical-align:top;
	width:480px;
	display:inline-block;
	padding:0 0 0 20px;
	text-align:center;
}
#inframe_map {
	width:100%;
	height:330px;
}

#titulo_map h3 {
	display:inline-block;
	font-weight:600;
	font-size:22px;
	letter-spacing:4px;
	text-transform:uppercase;
}
#titulo_map h2 {
	display:inline-block;
	font-weight:300;
	font-size:22px;
	letter-spacing:8px;
	text-transform:uppercase;
}
#titulo_map {
	margin-bottom:35px;
	margin-top:40px;
}

#datos_mapas {
	text-align:left;
	margin-top:25px;
	margin-bottom:25px;
}

#dato_map {
	vertical-align:middle;
	width:170px;
	font-size:11px;
	font-weight:400;
	display:inline-block;
}
	#dato_map img {
		vertical-align:middle;
	}
#dato2_map {
	vertical-align:middle;
	width:110px;
	border-left:1px solid #CCC;
	border-right:1px solid #CCC;
	font-size:11px;
	padding:0 10px;
	font-weight:400;
	display:inline-block;
}
	#dato2_map img {
		vertical-align:middle;
	}
#dato3_map {
	vertical-align:middle;
	width:165px;
	font-size:11px;
	font-weight:400;
	display:inline-block;
}
	#dato3_map img {
		vertical-align:middle;
	}
	
/************************** CONDICIONES **************************/
#condiciones {
	margin-top:50px;
}

#condiciones h3 {
	font-size:14px;
	font-weight:800;
	margin-bottom:15px;
}

#condiciones p {
	font-weight:400;
	font-size:14px;
	margin-bottom:25px;
	text-align:justify;
}
#bullet li {
	font-size:14px;
	text-decoration:none;
	list-style-image:url(../imagenes/plantilla/bullet.png);
}


/************************** CONTACTO **************************/

	#contacto {
		margin-top:40px;
	}
#contacto_img {
	width:356px;
	vertical-align:top;
	display:inline-block;
}
#formulario {
	display:inline-block;
	width:560px;
	margin-left:80px;
	vertical-align:top;
}
	#formulario p {
		margin-bottom:15px;
		font-size:15px;
		font-weight:400;
	}
	#enviar {
		text-align:right;
		padding-right:18px;
	}
.btn_form1 {
	outline:none;
	margin-bottom:15px;
	padding-left:5px;
	height:30px;
	display:inline-block;
	width:245px;
	margin-right:25px;
	border:1px solid #CCC;	
	}
	.btn_form2 {
		outline:none;
		margin-bottom:15px;
	padding-left:5px;
	height:30px;
	display:inline-block;
	width:245px;
	border:1px solid #CCC;	
	}
.btn_form3 {
	margin-bottom:25px;
	padding-left:5px;
	height:94px;
	display:inline-block;
	width:525px;
	vertical-align:top;
	border:1px solid #CCC;	
	}

.vermas {
	border:none;
	background-color:#000;
	padding-top:5px;
	color:#FFF;
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	font-weight:400;
	padding-left:20px;
	padding-right:20px;
	padding-bottom:5px;
}


#datos_contacto {
	border-top:1px solid #CCC;
	border-bottom:1px solid #CCC;
	margin:25px 0 15px 0;
}
#dato img {
	vertical-align:middle;
}

#dato {
	text-align:center;
	vertical-align:middle;
	display:inline-block;
	width:205px;
	font-weight:300;
	font-size:13px;
	color:#666;
}
#dato img {
	vertical-align:middle;
}

#dato2 {
	text-align:center;
	vertical-align:middle;
	display:inline-block;
	width:128px;
	font-weight:300;
	font-size:13px;
	color:#666;
	padding-left:10px;
	padding-right:10px;
	border-right:1px solid #CCC;
	border-left:1px solid #CCC;
}
	#dato2 img {
		vertical-align:middle;
	}

#dato3 {
	text-align:center;
	vertical-align:middle;
	display:inline-block;
	width:195px;
	font-weight:300;
	font-size:13px;
	color:#666;
}
#dato3 img {
	vertical-align:middle;
}


#ofertas {
	margin-top:25px;
	margin-bottom:25px;
}

#ofertas h3 {
	background-color:#EEE;
	font-size:28px;
	color:#000;
	padding-left:25px;
	margin-top:50px;
	margin-bottom:50px;
	font-weight:800;
}

/************************** CARRITO **************************/
#titulos h2 {
	font-size:27px;
	font-weight:400;
	border-bottom:1px solid #CCC;
	padding-bottom:10px;
	margin-bottom:25px;
}
#img_carrito {
	width:262px;
	vertical-align:top;
	display:inline-block;
}
#nombre_carrito {
	vertical-align:top;
	width:285px;
	text-align:right;
	display:inline-block;
}
	#nombre_carrito h2 {
		margin-bottom:15px;
		font-size:27px;
		color:#000;
		font-weight:800;
	}
	#nombre_carrito a {
		padding:5px 15px 5px 0px;
		text-align:center;
		text-decoration:none;
		color:#FFF;
		background-color:#9EE700;
	}
		#nombre_carrito a img {
			vertical-align:middle;
		}
#precio_carrito {
	font-size:22px;
	font-weight:300;
	color:#000;
	display:inline-block;
	width:440px;
	vertical-align:top;
	text-align:right;
}

#subtotal {
	margin-bottom:100px;
	text-align:right;
}
	#subtotal h3 {
		display:inline-block;
		margin-right:5px;
		vertical-align:middle;
		width:auto;
	}
	.semibold_22 {
		font-size:22px;
		color:#000;
		font-weight:600;
	}
	
	#subtotal p {
		vertical-align:middle;
		font-size:22px;
		font-weight:300;
		color:#000;
		display:inline-block;
		width:auto;
	}
	
	.light_22 {
		font-size:22px;
		font-weight:300;
		color:#000;
	}
	
	#cotizacion {
		text-align:right;
	}
#botones {
	margin-bottom:40px;
	text-align:right;
}	
	#botones a {
		padding:10px 15px;
	}
	
	.btn_gris {
		background:#999;
		color:#000;
		text-decoration:none;
		font-weight:600;
	}
	
	.btn_negro {
		background:#000;
		color:#FFF;
		text-decoration:none;
		font-weight:600;
	}
/************************** PEDIDOS **************************/
#nuevo_cliente {
	width:310px;
	display:inline-block;
	vertical-align:top;
	margin-right:75px;
}
	#nuevo_cliente h2 {
		border-bottom:1px solid #CCC;
		padding-bottom:5px;
		font-weight:600;
		font-size:22px;
		margin-bottom:10px;
	}
#soy_cliente {
	width:320px;
	display:inline-block;
	vertical-align:top;
}
	#soy_cliente h2 {
		font-size:22px;
		border-bottom:1px solid #CCC;
		padding-bottom:5px;
		margin-bottom:10px;
		font-weight:600;
	}
	
	#soy_cliente p {
		margin-bottom:15px;
	}

#img_pedidos {
	width:270px;
	display:inline-block;
	vertical-align:top;
}
.campos {
	width:95px;
	display:inline-block;
	margin-bottom:15px;
}
.registro {
	width:215px;
	padding-left:5px;
	outline:none;
}

/************************** CUENTACREADA **************************/
#creada {
	margin-bottom:100px;
}
#creada h2 {
	width:auto;
	display:inline-block;
	font-size:20px;
	color:#9EE700;
}
#creada h3 {
	width:auto;
	display:inline-block;
	font-weight:300;
	font-size:20px;
	color:#000;
}

#creada p {
	margin-bottom:25px;
	margin-top:25px;
}

/************************** REGISTRARSE **************************/
#registro {
	width:484px;
	vertical-align:top;
	margin-right:45px;
	display:inline-block;
}
#registro2 {
	width:464px;
	display:inline-block;
	vertical-align:top;
}
#bloq_registro {
	width:484px;
	position:relative;
	display:inline-block;
	margin-bottom:25px;
}
.right {
	position:absolute;
	top:0;
	right:0;	
}

#tit_registro2 {
	font-size:18px;
	font-weight:400;
	margin-bottom:25px;
	width:80%;
	border-bottom:1px solid #CCC;
	padding-bottom:5px;
}
#tit_registro {
	font-size:22px;
	font-weight:400;
	margin-bottom:15px;
	color:#000;
	border-bottom:1px solid #CCC;
	padding-bottom:5px;
}
.campos2 {
	display:inline-block;
	width:150px;
	display:inline-block;
	font-size:12px;
	font-weight:800;
	color:#000;
}
.campos3 {
	width:180px;
	display:inline-block;
	outline:none;
	margin-bottom:25px;
}
/************************** CUENTA-ACTIVA **************************/
#cuenta1 {
	vertical-align:top;
	width:664px;
	border-right:1px solid #CCC;
	padding-right:30px;
	display:inline-block;
}
	#cuenta_ind {
		margin-bottom:115px;
	}
	#cuenta_ind h3 {
		border-bottom:1px solid #CCC;
		margin-bottom:25px;
		padding-bottom:5px;
		font-size:18px;
		font-weight:400;
		color:#000;
	}
.btn_form4 {
	margin-bottom:25px;
	padding-left:5px;
	height:94px;
	display:inline-block;
	width:680px;
	vertical-align:top;
	border:1px solid #CCC;	
	}
#cuenta2 {
	vertical-align:top;
	width:290px;
	padding-left:10px;
	display:inline-block;
}
#se単alamiento h4 {
	width:auto;
	display:inline-block;
	margin-left:25px;
	font-weight:300;
	font-size:13px;
	padding-bottom:5px;
}
#usuario img {
	vertical-align:middle;
	margin:15px 0;
}
.pago_cuenta {
	margin-top:-25px;
	display:inline-block;
	margin-left:50px;
	vertical-align:middle;
}
.cuenta_id {
	width:auto; 
	display:inline-block; 
}

/************************** CATEGORIA-INTERIOR **************************/
#content_producto {
	width:680px;
	display:inline-block;
	margin-right:35px;
}
#desc_cat {
	font-size:12px;
	margin-bottom:5px;
	padding-bottom:10px;
	text-align:justify;
	width:100%;
	border-bottom:1px solid #CCC;
}
	#inf_izq {
		width:44%;
		vertical-align:middle;
		display:inline-block;
	}
		#inf_izq h3 {
			margin:10px 0;
		}
	#inf_der {
		display:inline-block;
		vertical-align:middle;
		width:50%;
	}
#desc_cat2 {
	width:100%;
}
#inf_izq2 {
	vertical-align:top;
	display:inline-block;
	width:53%;
}
	#list_1 {
		width:35%;
		vertical-align:top;
		display:inline-block;
	}
	#list_2 {
		width:62%;
		display:inline-block;
		vertical-align:top;
	}
#inf_der2 {
		display:inline-block;
		vertical-align:top;
		width:45%;
	}
	#inf_der2 p {
		text-align:center;
		margin-bottom:5px;
	}
#content_img {
	text-align:center;
	width:100%;
}
#img_zoom {
	width:66%;
	margin-left:15%;
}

/*********AQUI VAN LOS ESTILOS DEL LADO DERECHO*************/
#nombre_muebles {
	vertical-align:top;
	background-color:#DDD;
	width:260px;
	display:inline-block;
	padding:25px 10px;
	
}
	.bold_24 {
	font-size:24px;
	color:#000;
	font-weight:800;
}

	#inf2 {
		margin-bottom:25px;
	}
	.campos1 {
		display:inline-block;
		width:50px;
		vertical-align:middle;
		margin-bottom:20px;
		margin-right:15px;
	}
	.btn_cat {
		display:inline-block;
		width:140px;
	}
	.separado_17 {
		letter-spacing:4px;
		font-weight:800;
		font-size:17px;
	}

	#color {
		width:36px;
		height:36px;
		margin-right:5px;
		margin-top:15px;
		border:1px solid #999;
		display:inline-block;
	}
	#redes2 {
		margin:15px 0 0 0 ; 
		text-align:right;
	}
	#redes2 img {
		margin:0 5px;
		display:inline-block;
	}
	#recomendacion {
		margin-top:35px;
	}
#recomendacion h3 {
	font-size:24px;
	color:#000;
	font-weight:800;
}

/************************** PRODUCTIOS **************************/
#producto {
	margin-bottom:30px;
	vertical-align:top;
	width:245px;
	display:inline-block;
	margin-right:85px;
}

#productos {
	margin-bottom:30px;
	vertical-align:top;
	width:235px;
	display:inline-block;
	margin-right:33px;
}


#nombre {
	width:100%;
	margin-top:5px;
	vertical-align:top;
	display:inline-block;
}

#nombre h2 {
	width:57%;
	font-size:18px;
	display:inline-block;
	font-weight:800;
}
#precio {
	display:inline-block;
	float:right;
	text-align:center;
	width:90px;
	background-color:#9EE700;
	padding:5px;
	color:#FFF;
	font-weight:600;
	font-size:16px;
}

#a単adir {
	text-align:center;
	margin-top:15px;
	background-color:#EEE;
}
#img_producto {
	width:100%;
}

#a単adir img {
	vertical-align:middle;
}

#a単adir a {
	text-decoration:none;
	color:#333;
	font-weight:300;
	font-size:17px;
}

.separador {
	margin:0 10px;
}

#gracias {
	text-align:center;
}
#gracias h2 {
	font-size:50px;
	text-transform:uppercase;
	color:#9EE700;
}
#gracias p {
	font-size:32px;
	font-weight:300;
	letter-spacing:5px;
	color:#000;
}


