.menu-collapser {
    position: relative;
    background-color: #FFF;
    color: #666;
	text-align:left;
    text-shadow: 0 1px 0 rgba(0,0,0,0.5);
    width: 100%;
    height: 48px;
    line-height: 48px;
    font-size: 13px;
    padding: 0 60px 0 8px;
	display:inline-block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}
.collapse-button {
    position: absolute;
    right: 8px;
    top: 50%;
    width: 40px;
    background-color: #0E0E0E;
    background-image: linear-gradient(to bottom, #151515, #040404);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    color: #FFFFFF;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.075);
    padding: 7px 10px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    cursor: pointer;
    font-size: 0.5em;
    text-align: center;

    transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}
.collapse-button:hover, .collapse-button:focus {
    background-image: none;
    background-color: #040404;
    color: #FFF;
}
.collapse-button .icon-bar {
    background-color: #F5F5F5;
    border-radius: 1px 1px 1px 1px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    display: block;
    height: 2px;
    width: 18px;
    margin: 2px 0;
}

ul.slimmenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
	text-align:right;
    width: 100%;
	text-align:center;
}
ul.slimmenu li {
    position: relative;
    display: inline-block;
    background-color: #FFF;
	border-left:solid thin #999;
}
ul.slimmenu > li { margin-right: -5px; border-left: 1px solid #FFF }
ul.slimmenu > li:first-child { border-left: 0;
	border-left:none;
	 }
ul.slimmenu > li:last-child { margin-right: 0 }
ul.slimmenu li a {

}
ul.slimmenu > li a:first-child { border-left: 0;
	border-left:none;
	 }


ul.slimmenu li a:hover {
    background-color: #FFF;
    text-decoration: none;
	border-left:none;
}

ul.slimmenu li .sub-collapser {
    background-image:url(arrow.png);
	background-position:right center;
	background-repeat:no-repeat;
    position: absolute;
    right: 0;
    top: 0;
    width: 14px;
    height: 100%;
    text-align: center;
    z-index: 999;
    cursor: pointer;
}
ul.slimmenu li .sub-collapser:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
   /* margin-right: -0.25em;*/
}
ul.slimmenu li .sub-collapser > i {
    color: #333;
    font-size: 18px;
    display: inline-block;
    vertical-align: middle;
}
ul.slimmenu li ul {
    margin: 0;
    list-style-type: none;
}
ul.slimmenu li ul li {
	background: rgba(255, 255, 255, 255.5);
	width:160px;
	/*margin-left:-40px;*/
	padding:none;
}
ul.slimmenu li > ul {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 999;
    width: 90.5%;
}
ul.slimmenu li > ul > li ul {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    z-index: 999;
    width: 100%;
	padding:none;
}

ul.slimmenu.collapsed li {
    display: block;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}

ul.slimmenu.collapsed li a {
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.075);
	padding-right:30px;
    box-sizing: border-box;
	text-decoration:none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}
ul.slimmenu.collapsed li .sub-collapser {
	width:100%;
    height: 40px;
}
ul.slimmenu.collapsed li > ul {
    display: none;
    position: static;
}
/*Campos nuevo*/
.demos{
  background: #FFF;
  color: #333;
  text-align: left;
   border: 2px solid #5cabd4;
  font-family: 'Open Sans', sans-serif;
}
demos:-moz-placeholder {
  background: #E6E6E6;
  color: #666;
  text-align: left;
  font-style:oblique;
}
.demos::-webkit-input-placeholder {
  background: #E6E6E6;
  color: #666;
  text-align: left;
  font-style:oblique;
}
.demos:-ms-input-placeholder {
  background: #E6E6E6;
  color: #666;
  text-align: left;
  font-style:oblique;
}
.boton-formulario {	
 padding: 5px 5px; /* Tamaño del Boton */
 -webkit-border-radius: 8px 8px;
 border-radius: 6px 6px; /* bordes del Boton */
 border: solid 1px rgb(160, 160, 160);
 background: #666; /* Aqui se cambia el color del fondo */
 color: #FFF;
 text-decoration: none;
 display: inline-block;
 text-align: center;
 cursor: pointer;
 text-shadow: 0px 0px 0px rgba(255,255,255,1);/* difuminacion */
 line-height: 1;
 margin: 0 auto;
 font-family: 'Open Sans', sans-serif;
}
.boton-formulario:hover {	
 padding: 6px 6px; /* Tamaño del Boton */
 -webkit-border-radius: 8px 8px;
 background: #999; /* Aqui se cambia el color del fondo */
 color: #FFF;
 display: inline-block;/* en HTML5 esto nos ayuda a mantener el boton en linea*/
 text-align: center;
 cursor: pointer;
 font-family: 'Open Sans', sans-serif;
}
@media (max-width: 768px)
{
	.menu-collapser 
	{
    position: relative;
    background-color: #FFF;
    color: #666;
	text-align:left;
    text-shadow: 0 1px 0 rgba(0,0,0,0.5);
    width: 93%;
    height: 48px;
    line-height: 48px;
    font-size: 1.1em;
    padding: 0 60px 0 8px;
	display:inline-block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
	}
}